{% extends "base.sql.j2" %}
{% block domain_events %}
WITH
{% for domain_type, domain in ranked_domains.items() %}
ranked_events_{{ domain_type }} AS (
    SELECT
        person_id,
        {{ domain.concept_id }} AS concept_id,
        {{ domain.start_date }} AS event_start_date,
        {{ domain.end_date }} AS event_end_date,
        ROW_NUMBER() OVER (
            PARTITION BY person_id, {{ domain.concept_id }}
            ORDER BY {{ domain.start_date }} ASC
        ) AS event_instance
    FROM {{ domain.table }}
){% if not loop.last %},{% endif %}
{% endfor %}
{% if ranked_domains %},{% endif %}
{% endblock %}

{% block inclusion_temporal_event_criteria %}
{% if inclusion_criteria.temporal_events %}
    {{ temporal_event_filter(inclusion_criteria.temporal_events) }}
{% else %}
    SELECT person_id,
           NULL AS event_start_date,
           NULL AS event_end_date
    FROM person p
{% endif %}
{% endblock %}

{% block inclusion_demographics_criteria %}
{% if inclusion_criteria.demographics %}
    {{ demographics_filter(inclusion_criteria.demographics) }}
{% endif %}
{% endblock %}

{% block exclusion_criteria %}
{% if exclusion_criteria %}
    {% if exclusion_criteria.demographics %}
        {{ demographics_filter(exclusion_criteria.demographics) }}
    {% endif %}
    {% if exclusion_criteria.temporal_events %}
        {{ temporal_event_filter(exclusion_criteria.temporal_events, alias="ex") }}
    {% endif %}
{% endif %}
{% endblock %}
