{% extends "base.sql.j2" %}
{% block domain_events %}
{% if ranked_domains %}
WITH
{% for domain_type, domain in ranked_domains.items() %}
{% if domain.table %}
ranked_asc_events_{{ domain_type }} AS (
    SELECT
        person_id,
        {{ domain.concept_id }} AS concept_id,
        {{ domain.start_date }} AS event_start_date,
        {{ domain.end_date }} AS event_end_date,
        ROW_NUMBER() OVER (
            PARTITION BY person_id, {{ domain.concept_id }}
            ORDER BY {{ domain.start_date }} ASC
        ) AS event_instance
    FROM {{ domain.table }}
),
ranked_desc_{{ domain_type }} AS (
    SELECT
        person_id,
        {{ domain.concept_id }} AS concept_id,
        {{ domain.start_date }} AS event_start_date,
        {{ domain.end_date }} AS event_end_date,
        ROW_NUMBER() OVER (
            PARTITION BY person_id, {{ domain.concept_id }}
            ORDER BY {{ domain.start_date }} DESC
        ) AS event_instance
    FROM {{ domain.table }}
),
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}

{% block inclusion_temporal_event_criteria %}
{% if inclusion_criteria.temporal_events %}
    {{ temporal_event_filter(inclusion_criteria.temporal_events) }}
{% else %}
    SELECT person_id
    FROM person p
{% endif %}
{% endblock %}

{% block inclusion_demographics_criteria %}
{% if inclusion_criteria.demographics %}
    {{ demographics_filter(inclusion_criteria.demographics) }}
{% endif %}
{% endblock %}

{% block exclusion_criteria %}
{% if exclusion_criteria %}
    {% if exclusion_criteria.demographics %}
        {{ demographics_filter(exclusion_criteria.demographics) }}
    {% endif %}
    {% if exclusion_criteria.temporal_events %}
        {{ temporal_event_filter(exclusion_criteria.temporal_events, alias="ex") }}
    {% endif %}
{% endif %}
{% endblock %}
