{% macro demographics_filter(demographics) -%}
    {% if demographics.gender %}
        {% if demographics.gender == 'female' %}
            AND p.gender_concept_id = 8532
        {% elif demographics.gender == 'male' %}
            AND p.gender_concept_id = 8507
        {% endif %}
    {% endif %}
    {% if demographics.min_birth_year %}
        AND p.year_of_birth >= {{ demographics.min_birth_year }}
    {% endif %}
    {% if demographics.max_birth_year %}
        AND p.year_of_birth <= {{ demographics.max_birth_year }}
    {% endif %}
{%- endmacro %}

{% macro handle_operator(operator, filter_clauses) %}
{% if operator == 'AND' %}
    ({% for clause in filter_clauses %}
        {{ clause }}
        {% if not loop.last %} AND {% endif %}
    {% endfor %})
{% elif operator == 'OR' %}
    ({% for clause in filter_clauses %}
        {{ clause }}
        {% if not loop.last %} OR {% endif %}
    {% endfor %})
{% elif operator == 'NOT' %}
    NOT EXISTS (
        {% for clause in filter_clauses %}
            SELECT 1 FROM {{ clause }}
            {% if not loop.last %} UNION ALL {% endif %}
        {% endfor %}
    )
{% elif operator == 'BEFORE' %}
    EXISTS (
        {% for clause in filter_clauses %}
            {{ clause }}
        {% if not loop.last %} INTERSECT {% endif %}
        {% endfor %}
    )
{% endif %}
{% endmacro %}

{% macro temporal_event_filter(event_group) %}
{% set filters = [] %}

{% for event in event_group.events %}
    {% if event.event_type == 'condition_occurrence' %}
        {% if event.event_instance %}
            {% set filter_clause = "SELECT person_id, event_instance, event_date FROM ranked_event WHERE condition_concept_id = " ~ event.event_concept_id ~ " AND event_instance = " ~ event.event_instance %}
        {% else %}
            {% set filter_clause = "SELECT person_id, event_instance, event_date FROM ranked_event WHERE condition_concept_id = " ~ event.event_concept_id %}
        {% endif %}
    {% elif event.event_type == 'visit_occurrence' %}
        {% if event.event_instance %}
            {% set filter_clause = "SELECT person_id, event_instance, event_date FROM ranked_visits WHERE visit_concept_id = " ~ event.event_concept_id ~ " AND event_instance = " ~ event.event_instance %}
        {% else %}
            {% set filter_clause = "SELECT person_id, event_instance, event_date FROM ranked_visits WHERE visit_concept_id = " ~ event.event_concept_id %}
        {% endif %}
    {% elif event.event_type == 'date' and 'timestamp' in event %}
        {% set timestamp = event.timestamp %}
        {% set filter_clause = "SELECT NULL AS person_id, NULL AS event_instance, '" ~ timestamp ~ "' AS event_date" %}
    {% endif %}
    {% do filters.append(filter_clause) %}
{% endfor %}

{% if event_group.operator == 'BEFORE' %}
    {% set event_1 = filters[0] %}
    {% set event_2 = filters[1] %}
    EXISTS (
        SELECT 1
        FROM (
            {{ event_1 }}
        ) e1
        JOIN (
            {{ event_2 }}
        ) e2 ON e1.person_id = e2.person_id
        WHERE e1.event_date < e2.event_date
    )
{% else %}
    {{ handle_operator(event_group.operator, filters) }}
{% endif %}
{% endmacro %}
